@page
@model W5L2.Pages.Userss.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserB</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserB.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserB.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserB.Biography)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserB.Biography)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserB.UserA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserB.UserA.FName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="UserB.UserID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
